.blockinfo-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: $color3;
    color: $color5;
    padding: 1rem;
}
.blockinfo-header {
    border-bottom: 2px solid $color1;
    margin-bottom: 1.5rem;
}
.blockinfo-content {
    color: $color1;
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
    background-color: $color5;
    
    padding: 1rem;
}
.blockinfo-table {
    text-align: left;
  }
  
.blockinfo-row {
    padding: 1rem 0rem;
    // overflow-wrap: break-word;
    overflow: hidden;
    word-wrap: nowrap;
}

.blockinfo-key {
    font-weight: bold;
}

@include media-breakpoint-up(lg) { 
    .blockinfo-page  {
        padding: 5rem
    }
 }