.blockinfo-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: $color3;
    color: $color5;
    padding: 1rem;
}

.blockinfo-header {
    text-transform: uppercase;
    color: $color2;
    text-align: left;
    font-size: x-large;
    font-weight: bolder;
    padding-bottom: 1rem;

}

.blockinfo-value {
    display: inline;
    word-wrap: break-word;
    // background-color: red !important;
    
}
.blockinfo-header-id {
    color: $color2;
    overflow: auto;
    text-overflow: ellipsis;
    // font-weight: 100;
    // font-size: 1rem;
    // word-wrap: break-word;
}
.blockinfo-content {
    background-color: $color5;
    border-radius: 0.8rem;
    padding: 2rem;
    overflow: hidden;
    color: $color1;

    // color: $color1;
    // width: 100%;
    // height: 100%;
    // border-radius: 1.2rem;
    // background-color: $color5;
    
    // padding: 1rem;
}
.blockinfo-table {
    text-align: left;
    padding: 0;
  }

@include media-breakpoint-up(sm) { 
  .blockinfo-table {
    padding: 0 1rem;
  }
}
  


.blockinfo-row {
    padding: 0.5rem 0rem;
    // overflow-wrap: break-word;
    overflow: hidden;
    word-wrap: nowrap;
    border-bottom: 1px solid rgba($color3, 0.3);
}

.blockinfo-key {
    font-weight: bold;
    text-align: right;
}

@include media-breakpoint-up(lg) { 
    .blockinfo-page  {
        padding: 5rem
    }

    .blockinfo-row {
        padding: 1rem 0rem;
    }
 }


 #searchbox {
    width: 10rem;
 }

 #searchbox:focus {
    width: 20rem;
    transition: width 0.3s;
 }

 .blockinfo-link {
    color: $color1;
    text-decoration: none;
 }
 .blockinfo-link:hover {
    color: $color2;
    text-decoration: none;
 }


 .transactions-link {
    color: $color1;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    border: 1px solid red;
 }

 .transactions-link:hover {
    color: $color2;
 }

 .utxo-amount {
    background-color: rgb(65, 141, 65);
    padding: .2rem .7rem;
    border-radius: .4rem;

 }
 .utxo-amount::before {
    content: "+";
    
 }