body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.firstRow {
  background-image: url("bg.jpg");
  background-position: -12rem -22rem;
  padding: 3rem
}
@media (max-width: 768px) {
  .firstRow {
    background-size: 1100px;
    background-position: -14rem -27rem;
    background-clip: border-box;
    background-repeat: no-repeat;
    padding: 2rem
  }
  
}
@media (max-width: 500px) {
  .firstRow {
    background-size: 1100px;
    background-position: -16rem -29rem;
    background-clip: border-box;
    background-repeat: no-repeat;
    padding: 2rem
  }

}

.secondRow {
  background-color: #19322e;
  padding: 3rem
}

.cardText {
  font-size: 2em;
  font: bold 20px/1.2em;
  font-family: monospace
}

.navbar-title {
  font: bold 20px/1.2em anton,sans-serif;
}

.bigfont {
  font: bold 80px/0.9em anton,sans-serif;
  font-size: 5rem;
  letter-spacing:0.01em;
  margin-top: 6rem;
  margin-left: 8rem;
  text-shadow: -20px -10px 80px #3adbbd;
}

.midfont {
  font: bold 40px/0.9em anton,sans-serif;
  font-size: 3rem;
  letter-spacing:0.01em;
  text-shadow: 0px 0px 20px #3adbbd;
}

.searchBox {

  max-width: 40rem;
  width: 100%
}


.searchButton {
  height: 100%;
}

.cardBox {
  color: gainsboro;
  margin: 2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 18rem;
}

.cardLight {
  position: relative;
  top: 50%;
  left: 50%;
  /* transform:translate(-50%, -50%); */
  width:0px;
  height: 0px;
  box-shadow: 0px 0px 100px 35px #3adbbd;
  z-index: 2;
}

.cardBoxElement {
  padding-right: 1rem;
  text-transform: none;
  font-size: medium;
}