@use "sass:color";
@import url(http://fonts.googleapis.com/css?family=Righteous);


$color1: #FAFAFA;
$color2: #979DA0;
$color3: #92AAB4;
$color4: #7C949F;
$color5: #496B79;
$superdark: rgb(57, 78, 86);

$theme-colors: (
  "primary": #6c645b,
  "info": #2a4048,
  "success": #569953,
  "warning": #d3881b,
  "danger": #f44336,
  "dark": $color5,
  "light": $color2,
  "secondary": $color3
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $superdark;
}


.bigfont {
  color: $color1 !important;
  font-family: 'Righteous', sans-serif;
  // font: bold 80px/0.9em;
  font-weight: normal;
  font-size: 7rem;
  line-height: 6rem;
  // letter-spacing: 0.01em;
  margin-top: 4rem;
  // margin-left: 8rem;
  text-shadow: -20px -10px 80px $color1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
}

.big-kaspa-icon {
  position: relative;
  border: 2px solid tomato;
  top: 0rem;
  left: 0rem;
  // margin: .2rem;
  width: 15rem;
  height: 15rem;
  transform: rotateX(90);
  animation-name: rotate-icon;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* The animation code */
@keyframes rotate-icon {
  from {transform: rotate(10deg)}
  to {transform: rotate(-10deg)}
}

.big-page {
  text-align: center;
}

.navbar-ext {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
  background-color: $superdark;
  
}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1500px;
}

.colsize > div {
  max-width: 1600px;
}

.webpage {
  max-width: 1600px;
}

.row1 {

  background-color: $color5;
  border-bottom: 2px solid $color1;
  padding: 2rem;
  display: flex;
  justify-content: start;
}

.row2 {
  background-color: $color5;
}

.secondRow {
  padding: 3rem
}

.row3 {
  background-color: $color1;
}

.thirdRow {
  
  padding: 10rem;
}

.row4 {
  color: F3EEF1;
  background-color: $color5;
}

.fourthRow {
  
  padding: 3rem
}

.cardText {
  font-size: 2em;
  font: bold 20px/1.2em;
  font-family: monospace
}

.navbar-title {
  font: bold 20px/1.2em anton, sans-serif;
}

.block-overview {
  color: $color1;
  background-color: $superdark;
  padding: 4rem;
  border-radius: 0.4rem;
}

.block-overview-content {
  width: 100%;
  /* border-radius: 1rem; */
  overflow: hidden;
  /* font-size: small;  */
}

.block-overview-header {
  padding-bottom: 4rem;
  color: $color1;
  text-transform: uppercase;
}

.block-overview thead th {
  background-color: $superdark;
  color: #ffffff;
  text-align: left;
}

.styled-table {
  width: 100%
}

@keyframes anim {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table thead tr {
  border-bottom: 2px solid $color1;
}

.styled-table tbody tr {
  border-bottom: 1px solid $color3;
  animation: anim;
  animation-duration: 1s;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: rgba($color5, 0.5)
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid $color1;
}

.styled-table tbody tr:hover {
  color: $color3;
  cursor: pointer;
  text-decoration: none;
}

.searchBox {

  max-width: 40rem;
  width: 100%
}


.searchButton {
  height: 100%;
}

.cardBox {
  color: #f3eef1;
  margin: 2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 18rem;
}

.cardLight {
  position: relative;
  top: 50%;
  left: 50%;
  /* transform:translate(-50%, -50%); */
  width: 0px;
  height: 0px;
  box-shadow: 0px 0px 100px 35px $color2;
  z-index: 2;
}

.cardBoxElement {
  padding-right: 1rem;
  text-transform: none;
  font-size: medium;
}

.blockDagVis {
  display: flex;
  justify-content: space-around;
}

.kasBlock {
  color: $color1;
  background-color: $color5;
  border: 1px solid $color4;
  border-radius: 1rem;
  min-height: 10rem;
  padding: 1rem;
  margin: 1rem;
  display: block;
}


.kasBlockHeader {
  font-weight: bold;
  font-size: large;
}

@import "./components/blockinfo.scss"