body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
}

.navbar-title {
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  opacity: 0;
  transition: width 0.3s ease-in 0.5s, opacity 0.5s ease-out;
  width: 0px;
}

/* .fixed-top .navbar-title {
  transform: scale(0);
  transition: 0.5s;
} */

.fixed-top .navbar-title {
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  width:60px;
  opacity: 1;
  transition: width 0.5s ease-in, opacity 0.3s ease-out 0.5s;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* The animation code */
@keyframes example {
  from {transform: rotate(10deg)}
  to {transform: rotate(-10deg)}
}

/* The element to apply the animation to */
.shake {
  width: 100px;
  height: 100px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}